@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


/* ---------------------------
    Body Default Designed
---------------------------- */
html,
body {
    background: #ECF0F3;
    font-family: 'Poppins', sans-serif;
}

/* ---------------------------
        Star Designed
---------------------------- */

.star-symbol:nth-child(even) {
    animation: fade 1s infinite;
    animation-delay: 3s;
    color: #F4263F;
    opacity: 0;
}

.star-symbol:nth-child(odd) {
    animation: fade 1s infinite;
    color: #006A4D;
    animation-delay: 1.5s;
    opacity: 0;
}

@keyframes fade {

    20%,
    90% {
        opacity: 1;
    }
}

/* ---------------------------
    Grid Mobile Logo
---------------------------- */
.mobile-image {
    box-shadow: 0px 0px 10px -1px #000000;
    max-width: 200px;
}

.grid-box {
    margin: 20px auto;
    border: solid 2px #191a1985;
}

.grid-box>p {
    text-align: justify;
}