@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


/* ---------------------------
    Body Default Designed
---------------------------- */
html,
body{
    font-family: 'Poppins',sans-serif;
}

/* ---------------------------
            Star Designed
---------------------------- */

.star-symbol:nth-child(even){
    color: #F4263F;
}
.star-symbol:nth-child(odd){
    color: #006A4D;
}

/* ---------------------------
    Grid Mobile Logo
---------------------------- */
.mobile-image{
    max-width: 200px;
}
.grid-box{
    box-shadow: 0 8px 2px -2px #141414;
}
.grid-box > p{
    text-align: justify;
}